*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #0f0f0f;
  background-color: #f0f0f0;
}
a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

/*  ================
      header block 
    ================  */
.header {
  margin-bottom: 100px;
}
.header__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.header__photo {
  width: 205px;
  height: 205px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.header__title {
  font-size: 24px;
  margin-bottom: 15px;
}
.header__text {
  font-size: 18px;
  color: #a7a7a7;
  margin-bottom: 15px;
}
.social__inner {
  display: flex;
  gap: 30px;
}
svg path {
  transition: all 0.3s;
}
.icon-telegram:hover path {
  fill: #0088cc;
}
.icon-github:hover path {
  fill: #69db7c;
}
.icon-instagram:hover path {
  fill: #795a80;
}
.icon-linkedin:hover path {
  fill: #0e76a8;
}
.main {
  margin-bottom: 100px;
}

/*  ================
      work block 
    ================  */
.works__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
}
.work__img {
  width: 380px;
  height: 220px;
}
.work {
  position: relative;
}
.work__text {
  position: absolute;
  font-size: 22px;
  top: 108px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(255 255 255 / 80%);
  width: 100%;
  height: 50%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px;
  transition: all 0.4s;
  opacity: 0;
}
.work:hover .work__text {
  opacity: 1;
}